<html>

<head>
    {% block head %}
    <title>Кубок ИТМО | {% block title required %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ (path_prefix / 'style.css?v=1')|e }}">
    <link rel="icon" href="{{ (path_prefix / 'favicon.ico')|e }}" sizes="any">
    <link rel="icon" href="{{ (path_prefix / 'favicon.svg')|e }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ (path_prefix / 'apple-touch-icon.png')|e }}">
    {% endblock head %}
</head>

<body>
    <main>
        {% block main %}
        <h1><a href="{{ path_prefix|e }}" class="nolink">
            II Открытый кубок ИТМО по бальным танцам
        </a></h1>
        {% endblock main %}
    </main>
</body>

</html>