{% extends "result-base.html" %}
{% block title %}Регистрация больше не доступна{% endblock %}
{% block content %}
<p>
    Не удалось произвести регистрацию, так как заявки больше не принимаются.
    Со списками зарегистрированных участников можно ознакомиться в
    <a href="results">таблице</a>.
</p>
<p><b>{{ error_message }}</b></p>
<p>
    В случае возникновения вопросов обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
{% endblock %}