{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block head %}
{{ super() }}
<script src="script.js?v=1" defer></script>
{% endblock head %}

{% block main %}
{{ super() }}
<h2>Турнир окончен</h2>
<p>
    Приглашаем ознакомиться с 
    <a href="protocols">результатами и протоколами</a>.
</p>
<p>
    Другие ссылки:
    <ul>
        <li><a href="{{ contact_url }}" target="_blank">Группа мероприятия</a></li>
        <li><a href="results">Результаты регистрации</a></li>
        <li><a href="rules">Положение турнира</a></li>
    </ul>
</p>
{% endblock main %}