{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block head %}
{{ super() }}
<script src="script.js?v=1" defer></script>
{% endblock head %}

{% block main %}
{{ super() }}
<h2>Регистрация участников</h2>
<p>
    Регистрация завершена. Со списками зарегистрированных участников
    можно ознакомиться в <a href="results">таблице</a>.
</p>
<p>
    В случае возникновения вопросов обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
<p>
    С описанием категорий и правилами проведения турнира рекомендуем
    ознакомиться в <a href="rules">Положении</a>.
</p>
{% endblock main %}