{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block head %}
{{ super() }}
<script src="script.js?v=1" defer></script>
{% endblock head %}

{% block main %}
{{ super() }}
<hr>
<p>
    Пожалуйста, заполните форму, чтобы гарантировать своё участие
    в соревновании и допуск на территорию Университета ИТМО.
    Форма заполняется один раз для пары или солиста.
    Результаты регистрации можно увидеть в <a href="results">таблице</a>.
</p>
<p>
    В случае возникновения вопросов обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
<p>
    С описанием категорий и правилами проведения турнира рекомендуем ознакомиться в
    <a href="rules">Положении</a>.
</p>
<hr>
<h2>Регистрация участников</h2>
<form id="reg-form" action="submit" method="post">
    <section id="section-category">
        <p>
            Выберите категории, в которые хотите зарегистрировать пару или солиста.
            Можно выбрать не более одной категории в каждой из программ, стандарте или латине.
            Категория "Хобби" включает в себя обе программы.
        </p>
        <table id="categories-container">
            <tr id="question-hobby-solo">
                <td><input type="checkbox" name="category" id="hobby-solo" value="hobby-solo"></td>
                <td><label for="hobby-solo">Хобби Соло</label></td>
            </tr>
            <tr id="question-hobby-couples">
                <td><input type="checkbox" name="category" id="hobby-couples" value="hobby-couples"></td>
                <td><label for="hobby-couples">Хобби Пары</label></td>
            </tr>
            <tr id="question-e-st">
                <td><input type="checkbox" name="category" id="e-st" value="e-st"></td>
                <td><label for="e-st">Е класс Стандарт</label></td>
            </tr>
            <tr id="question-d-st">
                <td><input type="checkbox" name="category" id="d-st" value="d-st"></td>
                <td><label for="d-st">D класс Стандарт</label></td>
            </tr>
            <tr id="question-cb-st">
                <td><input type="checkbox" name="category" id="cb-st" value="cb-st"></td>
                <td><label for="cb-st">C+B класс Стандарт</label></td>
            </tr>
            <tr id="question-open-st">
                <td><input type="checkbox" name="category" id="open-st" value="open-st"></td>
                <td><label for="open-st">Открытый класс Стандарт</label></td>
            </tr>
            <tr id="question-e-la">
                <td><input type="checkbox" name="category" id="e-la" value="e-la"></td>
                <td><label for="e-la">Е класс Латина</label></td>
            </tr>
            <tr id="question-d-la">
                <td><input type="checkbox" name="category" id="d-la" value="d-la"></td>
                <td><label for="d-la">D класс Латина</label></td>
            </tr>
            <tr id="question-cb-la">
                <td><input type="checkbox" name="category" id="cb-la" value="cb-la"></td>
                <td><label for="cb-la">C+B класс Латина</label></td>
            </tr>
            <tr id="question-open-la">
                <td><input type="checkbox" name="category" id="open-la" value="open-la"></td>
                <td><label for="open-la">Открытый класс Латина</label></td>
            </tr>
        </table>
    </section>
    <section id="section-names">
        <p id=descr-names>
            Введите фамилию и имя партнёра и партнёрши.
            Если выступаете в соло, внесите себя в поле "партнёр".
        </p>
        <table>
            <tr id="question-leader">
                <td class="required-marker">*</td>
                <td><label for="leader" id="label-leader">Партнёр:</label></td>
                <td><input type="text" name="leader" id="leader" placeholder="Иванов Иван" required></td>
            </tr>
            <tr id="question-follower">
                <td class="required-marker" id="follower-required-marker"></td>
                <td><label for="follower">Партнёрша:</label></td>
                <td><input type="text" name="follower" id="follower" placeholder="Иванова Мария"></td>
            </tr>
        </table>
    </section>
    <section id="section-contacts">
        <p>Оставьте свои контактные данные. Они будут доступны только организаторам.</p>
        <table>
            <tr id="question-contacts">
                <td class="required-marker">*</td>
                <td><label for="contacts">Контакты:</label></td>
                <td><input type="text" name="contacts" id="contacts" placeholder="vk.com/durov" required></td>
            </tr>
        </table>
    </section>
    <section id="section-club">
        <p>
            Введите название своего университета, спортивного клуба или студии.
            Эта информация будет названа при награждении.
        </p>
        <table>
            <tr id="question-club">
                <td class="required-marker">*</td>
                <td><label for="club">Университет/Клуб:</label></td>
                <td><input type="text" name="club" id="club" placeholder="ИТМО" required></td>
            </tr>
        </table>
    </section>
    <section id="section-teachers">
        <table>
            <p>
                Введите фамилию и имя одного или двух из своих тренеров.
                Эта информация будет названа при награждении.
            </p>
            <tr id="question-teacher-1">
                <td class="required-marker">*</td>
                <td><label for="teacher-1">Тренер 1:</label></td>
                <td><input type="text" name="teacher1" id="teacher-1" placeholder="Иванов Иван" required></td>
            </tr>
            <tr id="question-teacher-2">
                <td class="required-marker"></td>
                <td><label for="teacher-2">Тренер 2:</label></td>
                <td><input type="text" name="teacher2" id="teacher-2" placeholder="Иванов Иван"></td>
            </tr>
        </table>
    </section>
    <section id="section-consent">
        <p></p>
        <table>
            <tr>
                <td><input type="checkbox" name="consent" id="consent" required></td>
                <td><label for="consent">Согласен на обработку введённых данных</label></td>
            </tr>
        </table>
    </section>
    <section id="section-submit">
        <p></p>
        <div>
            <input type="submit" value="Зарегистрироваться" class="button">
        </div>
    </section>
</form>
{% endblock main %}