{% extends "base.html" %}

{% block main %}

{{ super() }}
<h2>{{ self.title() }}</h2>

{% block content %}{% endblock %}

<form action="{{ path_prefix|e }}" method="get">
    <input type="submit" value="Назад к форме" class="button">
</form>

{% endblock main %}