{% extends "result-base.html" %}
{% block title %}Результаты регистрации{% endblock %}

{% block head %}
{{ super() }}
<script src="anchor-scroll.js?v=1" defer></script>
{% endblock head %}

{% block content %}
<hr>
<ol>
    {% for section in sections %}
    <li><a href="#results-{{ section.name_machine|e }}" class="anchor">
        {{ section.name_human|e }}
    </a></li>
    {% endfor %}
</ol>
<hr>

{% for section in sections %}
<section id="results-{{ section.name_machine|e }}" class="results-section">
    <h3>
        {{ section.name_human|e }}
        <span class="results-count-descr">— {{ section.count_descr()|e }}</span>
    </h3>
    <div class="scrollable-wrapper">
        <table class="table-results">
            <tr>
                <th class="th-names">
                    {% if section.is_solo %}
                    Солист
                    {% else %}
                    Пара
                    {% endif %}
                </th>
                <th class="th-club">Университет/Клуб</th>
                <th class="th-teachers">Тренеры</th>
            </tr>
            {% for row in section.rows %}
            <tr>
                <td class="name-cell">
                    {{ row.leader|e }}
                    {% if not section.is_solo %}
                    <br>
                    {{ row.follower|e }}
                    {% endif %}
                </td>
                <td>{{ row.club|e }}</td>
                <td class="name-cell">
                    {{ row.teacher1|e }}
                    {% if row.teacher2 %}
                    <br>
                    {{ row.teacher2|e }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endfor %}

{% endblock %}