{% extends "result-base.html" %}
{% block title %}Ошибка сервера{% endblock %}
{% block content %}
<p>
    Не удалось выполнить регистрацию из-за внутренней ошибки сервера. Попробуйте ещё раз.
    Если проблема повторится, пожалуйста, напишите о ней в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
{% endblock %}