{% extends "result-base.html" %}
{% block title %}Успешная регистрация{% endblock %}
{% block content %}
<p>
    Вы успешно зарегистрировали <b>{{ whom|e }}</b> в категории <b>{{ where|e }}</b>.
    Посмотреть полные результаты регистрации можно в <a href="results">таблице</a>.
</p>
<p>
    В случае необходимости изменить регистрационные данные обращайтесь в личные сообщения
    <a href="{{ contact_url }}" target="_blank">группы мероприятия</a>.
</p>
{% endblock %}